# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=AMBANKCOIN Core
Comment=AMBANKCOIN Core QT main network
GenericName=AMBANKCOIN Digital Currency QT client main network
Exec=ambankcoin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ambankcoin.png
MimeType=x-scheme-handler/ambankcoin;
Categories=X-Office;X-Finance;
Keywords=internet;ambankcoin;zambk;ambk;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
